@model Proyecto2.Models.Asignatura;
@{
    ViewData["Title"] = "Asignatura";
}
<div class="modal fade" id="ModalAsignatura" tabindex="1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header fondom">
                <h5 class="modal-title" id="exampleModalLabel">Agregar Asignatura</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body fondom">
                <input type="hidden" id="AlumnoId" value="0">
                <div class="control-label">
                    <p>Nombre</p>
                    <input name="NombreA" type="text" class="form-control" id="NombreA" autocomplete="off">
                    <p>Carrera</p>
                    @Html.DropDownList("CarreraId", null, htmlAttributes: new { @class = "form-control borde" })
                </div>
                <div class="modal-footer" style="margin-right: 30%;">
                    <button type="button" class="button-77" role="button" data-bs-dismiss="modal">Cerrar</button>
                    <button type="button" style="margin-left: 3%;" onclick="GuardarAsignatura()" class="button-78"
                        role="button">Guardar</button>
                </div>
            </div>
        </div>
    </div>
</div>
<h1>Asignaturas</h1>
<div>
    <div class="mb-2">
        <button type="button" onclick="VaciarFormulario()" class="button-89" role="button" data-bs-toggle="modal"
            data-bs-target="#ModalAsignatura">Nuevo</button>
    </div>
    <div>
        <table class="table table-success table-info table-striped table-bordered">
            <thead>
                <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Carrera</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="tbody-asignatura"></tbody>
        </table>
    </div>
</div>
@section Scripts{
    <script src="~/js/asignatura.js"></script>
}